.jumbotron {
    padding-top: #b44a77;
    background-color: #b44a77;
  }
  
  #projects {
    background-color: #b44a77;
  }
  
  section {
    padding-top: #a74f5ee3;
  }

  #about{
    background-color: #b44a77;;;
  }